fund=false
tag-version-prefix=""
engine-strict=true
@sky-it-common:registry=https://nexus.skytech.local/repository/npm-sky/
@sky-it-wms:registry=https://nexus.skytech.local/repository/npm-sky/
commit-hooks=false
