@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include mat.table-overrides((
    background-color: white
  ));
}